# Bỏ qua tất cả
*

# Giữ lại .gitignore
!.gitignore

# Giữ lại các loại file cần thiết trong tất cả folder
!**/*.py
!**/*.ipynb
!**/*.md
!**/*.yaml
!**/*.yml
!**/*.txt
!**/*.csv

.gemini/
gha-creds-*.json
